!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    %meta(name="viewport" content="width=device-width,initial-scale=1")
    %title Plumber Jobs, Employment in Daphne, AL | Indeed.com
    %link(rel="stylesheet" href="styles/style.css")
  %body
    %header.clearfix
      %nav.pull-left
        %a(href="#") Find Jobs
        %a(href="#") Find Resumes
        %a(href="#") Employers / Post Job
      %nav.pull-right
        %a.emphasized(href="#") Upload your resume
        %a(href="#") Sign In