!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    %meta(name="viewport" content="width=device-width,initial-scale=1")
    %title Plumber Jobs, Employment in Daphne, AL | Indeed.com
    %link(rel="stylesheet" href="styles/style.css")
  %body
    %header.clearfix
      %nav.nav-main
        %a(href="#") Find Jobs
        %a(href="#") Find Resumes
        %a(href="#") Employers / Post Job
      %nav.nav-user
        %a.emphasized(href="#") Upload your resume
        %a(href="#") Sign In
    %section.results.container-fluid
      .resultsPre.row
        %h1.resultsPre-logo.col-md-2 Plumber Jobs, Employment in Daphne, AL | Indeed.com
          %img(src="assets/job_search_indeed.png" width="175" height="72")
        %form.search.col-md-10
          .search-segment
            %label.search-label--mini what:
            %input(type="text" name="q" value="plumber")
            %span.search-helpText job title, keywords, or company name
          .search-segment
            %label.search-label--mini where:
            %input(type="text" name="p" value="Daphne, AL")
            %span.search-helpText city, state, or zip code
          .search-segment.search-submit--inline
            %input(type="submit" value="Find Jobs")
            %a.search-advanced--inline(href="#") Advanced Job Search