!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    %meta(name="viewport" content="width=device-width,initial-scale=1")
    %title Plumber Jobs, Employment in Daphne, AL | Indeed.com
    %link(rel="stylesheet" href="styles/style.css")
  %body
    %header.clearfix
      %nav.nav-main
        %a(href="#") Find Jobs
        %a(href="#") Find Resumes
        %a(href="#") Employers / Post Job
      %nav.nav-user
        %a.emphasized(href="#") Upload your resume
        %a(href="#") Sign In
    %section.results.container-fluid
      .resultsPre.row
        %h1.resultsPre-logo.col-md-2 Plumber Jobs, Employment in Daphne, AL | Indeed.com
          %img(src="assets/job_search_indeed.png" width="175" height="72")
        %form.search.col-md-10
          .search-segment
            %label.search-label--mini what:
            %input(type="text" name="q" value="plumber")
            %span.search-helpText job title, keywords, or company name
          .search-segment
            %label.search-label--mini where:
            %input(type="text" name="p" value="Daphne, AL")
            %span.search-helpText city, state, or zip code
          .search-segment.search-submit--inline
            %input(type="submit" value="Find Jobs")
            %a.search-advanced--inline(href="#") Advanced Job Search
      .resultsInter.row
        %aside.resultsInter-sort.col-md-2
          %p.sort-description plumber Jobs in Daphne, AL
          %p.sort-type Sort by:
            %strong< relevance
            \ - 
            %a(href="") date
          .filter-group
            %p.filter-label Distance:
            %select
              %option within 5 miles
              %option within 10 miles
              %option within 15 miles
              %option within 25 miles
              %option within 50 miles
              %option within 100 miles
          .filter-group
            %p.filter-label Salary Estimate
            %p.filter-value
              %a.filter-link(href="")< $35,000+
               (2)
            %p.filter-value
              %a.filter-link(href="")< $45,000+
               (1)
          .filter-group
            %p.filter-label Job Type
            %p.filter-value
              %a.filter-link(href="")< Full-Time
               (2)
            %p.filter-value
              %a.filter-link(href="")< Contract
               (1)
          .filter-group
            %p.filter-label Location
            %p.filter-value
              %a.filter-link(href="")< Mobile, AL
               (2)
            %p.filter-value
              %a.filter-link(href="")< Plumber jobs nationwide
          .filter-group
            %p.filter-label Company
            %p.filter-value
              %a.filter-link(href="")< TradeSource, Inc.
               (2)
            %p.filter-value
              %a.filter-link(href="")< Aerotek
               (1)
            %p.filter-value
              %a.filter-link(href="")< Lowe's
               (1)

