header
	border-bottom: 1px solid rgba(0,0,0,0.2)
	padding: 10px
	margin-bottom: 8px
	@include clearfix()

.nav-main a,
.nav-user a
	display: inline-block
	margin-right: 25px
	&:last-child
		margin-right: 0

.nav-main
	float: left
.nav-user
	float: right

@media screen and (max-width: 720px)
	.nav-main,
	.nav-user
		float: none
		text-align: center

	.nav-main a,
	.nav-user a
		display: block
		margin: 10px auto