.search
	position: relative
	margin-bottom: 20px
	@include clearfix()

.search-segment
	display: inline-block
	float: left
	margin-right: 4px
	text-align: left
	&:last-child
		margin-right: 0
	label
		display: block
		color: $indeed-orange
		&.search-label--jumbo
			font-size: 20px
		&.search-label--mini
			font-size: 14px
	input[type="text"]
		width: 280px
		height: 30px
		padding-left: 5px
		font-size: 18px
		border: 1px solid rgba(0,0,0,0.25)
		box-shadow: 1px 1px 2px rgba(0,0,0,0.15)
		outline: none
	input[type="submit"]
		font-size: 14px
		height: 30px
		color: #fff 
		outline: none
		border: 1px solid #1c4ed9
		border-top: 1px solid #2f62f1
		border-bottom: 1px solid #133fbb
		background-color: #3163f2
	input.text--mini
		width: 200px

.search-submit
	padding-top: 33px

.search-submit--inline
	padding-top: 24px

.search-advanced,
.search-helpText
	display: block
	font-size: 12px
	padding-top: 3px
	color: rgba(0,0,0,0.45)

.search-advanced,
.search-advanced--inline
	font-size: 11px
	color: $indeed-fadedBlue

.search-advanced--inline
	display: inline-block
	margin-left: 15px

.search-sample
	font-size: 11px
	color: rgba(0,0,0,0.65)
	display: block
	margin-top: -10px

@media screen and (max-width: 720px)
	.search
		display: block
		text-align: center
	.search-segment
		width: 100%
		input[type="text"]
			width: 100%
	.search-submit
		width: 100%
		padding-top: 24px
		text-align: center