.splash
	width: 700px
	margin: 20px auto
	text-align: center
	p
		margin-top: 8px 0
	.splash-learn
		margin-top: 75px

.splash-logo
	display: block
	width: 250px
	height: 109px
	margin-bottom: 20px
	background-image: url(/assets/job_search_indeed.png)
	@include text-hide()

@media screen and (max-width: 720px)
	.splash
		width: 320px
		text-align: center
		.splash-learn
			margin-top: 20px
	.splash-logo
		margin: 0 auto