.splash
	width: 700px
	margin: 0 auto

.splash-logo
	display: block
	width: 250px
	height: 109px
	margin-bottom: 20px
	background-image: url(/assets/job_search_indeed.png)
	@include text-hide()